body {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    background-image: url('../assets/img/home/bartek-garbowicz-xjeclqsbuqc-unsplash.jpg');
}

.img {
    border-radius: 100%;
    border: 1px solid white
}

.bot-div{
    margin-top:5%;

}

.img-button{
    width: 200px;
    height:30px;
    border:none;
    background-color:white;
    margin-top:10px;
    border-radius: 20px;
}

.out {
    border: 1px solid white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}

.input {
    width: 200px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    color: white;
    font-weight: bolder;
}

.inside-div {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start
}

form {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.in-label {
    display: flex;
    flex-direction: column;
}

.Change {
    border: none;
    background-color: black;
    color: white;
    width: 300px;
    height: 40px;
    font-weight: bolder;
    transition: 1s;
    margin-top: 50px;
    border-radius: 10px;
}

.Change:hover {
    color: black;
    background-color: white;
}

