body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Bebas Neue", sans-serif;
    background-image: url('../assets/img/home/bartek-garbowicz-xjeclqsbuqc-unsplash.jpg');
    color:white;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#GIFBox {
    /*background-color:grey;*/
    margin-top: 50px;
    height: 100vh;
    text-align: center;
    background-color: rgba(33, 24, 29, 0.5);
    backdrop-filter:blur(1px)
}

.ButtonBox{
    display:flex;
    justify-content:space-evenly;
    /*padding-top:5%;*/
    margin-top:5%;
    padding:2%;
    background-color:rgba(255,255,255,0.2);
    backdrop-filter:blur(10px);
    border-radius: 0px 0px 10px 10px;
  
}

.BTN {
    width: 6vw;
    font-size:1vw;
    height: 4vh;
    background-color: black;
    border: none;
    color: white;
    font-weight: bolder;
}

.GIFDIP {
    width: 25%;
    display:flex;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;
}

.btm{
    display:flex;
    margin-top: 5%;
}

.span{
    text-transform:uppercase;
    font-weight:bolder;
    margin-bottom:3%;
    font-size:20px;
}

.anatomy{
    background-color:rgb(128, 128, 128, 0.7);
    width:100%;
    height:100%;
}

.anatomy-div{
    margin-left:auto;
    margin-right:auto;
    width:50%;
    position:relative;
}

.ana{
    position:absolute;
    left:23.7%;
    top:24%;
    transition:0.5s;
}

.BTN:hover{
    opacity:0.5;
    
}
