body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.div-main {
    margin-top: 20px;
    background-image: url('../assets/img/home/bartek-garbowicz-xjeclqsbuqc-unsplash.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
}

.main-txt {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 40px;
    color: white;
}

.join {
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 70px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    border: 1px solid white;
}

.inside {
    position: relative;
    top: 35%;
    z-index: 5;
}

.benefits {
    text-align: center;
}

.inside-benefit {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    background-color: black;
    display: inline-block;
    color: white;
    vertical-align: middle;
}

.benefit-txt {
    font-size: 8vh;
    margin-top: 100px;
    text-align: center;
}

.butt {
    width: 40%;
    height: 200px;
    font-size: 50px;
    font-weight: bolder;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
