body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    background-image: url('../assets/img/home/bartek-garbowicz-xjeclqsbuqc-unsplash.jpg');
}

.outer {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

form {
    border: 1px solid white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white
}

h1 {
    font-size: 90px;
}

.login {
    border: 1px solid white;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    font-weight: bolder;
    transition: 1s;
    margin-top: 30px;
}

.login:hover{
    color: black;
    background-color: white;
}

input {
    width: 300px;
    margin-bottom: 20px;
    height: 30px;
    border: 1px solid white;
    background-color: black;
    padding: 10px;
    color: white;
}