body {
}

h1 {
}

.header {

    top: 0;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
    background-color: black;
    z-index: 100;
    box-shadow: 1px 1px 10px black;
}

.title {
    text-align: left;
    position: absolute;
    left: 20px;
    padding: 0;
    margin: 14px 30px 0px;
    color: white;
    font-size: 30px;
}

.btn {
    color: black;
    padding: 10px 40px 10px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-weight: 900;
}

nav {
    position: absolute;
    right: 0;
    margin: 15px 100px 0px;
}
