body {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-size:1vw;
    background-image: url('../assets/img/home/bartek-garbowicz-xjeclqsbuqc-unsplash.jpg');
}

.out-profile{
    margin-top:10%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border:1px solid white;
    padding: 10px 20px 80px 20px;
    border-radius:10px;
}

.img{
    border-radius:100%;
    object-fit:cover;
}

.profile{
    display:flex;
    margin-top:5%;
    justify-content:space-around;
    flex-wrap:wrap;
}

.left-profile{
    text-align:center
}

.right-profile{
    display:flex;
    background-color:rgb(128,128, 128, 0.4);
    border-radius:10px;
    padding: 30px 80px 30px 80px;
}

.Self-Info{
    margin-right:100px
}


.edit-btn{
    margin-top:10%;
    border:none;
    border-radius:10px;
    height: 30px;
    font-weight:bolder;
}

.Label-Div {
    display: flex;
    flex-direction: column;
    align-content: space-around
}

.label{
    margin-bottom:15px;
}

