body {
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    background-image: url('../assets/img/home/bartek-garbowicz-xjeclqsbuqc-unsplash.jpg');
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.outer {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

form {
    border: 1px solid white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.2);
    text-align:center;
}

.InputContainer{
    margin-top:20px;
    display:flex;
    justify-content:flex-start
}

#RegisterBtn {
    border: none;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    font-weight: bolder;
    transition: 1s;
    margin-top: 30px;
}

#RegisterBtn:hover {
    color: black;
    background-color: white;
}

.input{
    width: 200px;
    margin-bottom: 10px;
    margin-right:20px;
    margin-left:20px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: black;
    padding: 10px;
    color: white;
    font-weight:bolder;
}

.label{
    color:pink;
}

.DDLDRIZZY{
    margin-left:20px;
    width:100px;
    color:white;
    background-color:black;
    border:none;
    height:30px;
    border-radius:5px;
    font-weight:bolder;
}

.InsideContainer{
    display:flex;
    flex-direction:column;
}

h1{
    font-size:75px;
    font-weight:bolder;
}